<!DOCTYPE html>
<html>
  <head>
    <title>Your Personal News Aggregator</title>
    <link rel="stylesheet" type="text/css" href="/news_ag.css">
  </head>

  <body>
    <h1>Find a Good Read? Save It Here!</h1>

    <form action="/articles" method="post">
      <label for=article>Article Title:</label>
      <input type="text" id="article" name="article" required>

      <label for=article>URL:</label>
      <input type="url" id="article" name="url_info" required>

      <label for=article>Description:</label>
      <input type="text" id="article" name="description" required>

      <input type="submit" id="submit"/>

    </form>
  </body>
</html>
